.arrow-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border: solid 1px #cf1751;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    display: none;

    svg {
        width: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {

        background-color: rgba($color: #cf1751, $alpha: 0.2);
    }
}