#projects .project {
  min-height: 200vh;
  margin: 0 auto;
}

#projects .project .main-page {
  padding-top: 10%;
  background-color: #161616;
  min-height: 100vh;
  height: 100%;
}

#projects .project .main-page .main-page-content {
  width: 85%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .project .main-page .main-page-content .column1 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#projects .project .main-page .main-page-content .column1 .horisontal-line {
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

#projects .project .main-page .main-page-content .column1 .horisontal-line.white {
  background-color: #fff;
}

#projects .project .main-page .main-page-content .column1 .horisontal-line.green {
  background-color: #0fb19a;
}

#projects .project .main-page .main-page-content .column1 .horisontal-line.light-blue {
  background-color: #517ec0;
}

#projects .project .main-page .main-page-content .column1 p {
  padding-top: 25px;
  font-size: 14pt;
  color: #cf1751;
}

#projects .project .main-page .main-page-content .column1 .whiteC {
  color: #fff;
}

#projects .project .main-page .main-page-content .column1 .greenC {
  color: #0fb19a;
}

#projects .project .main-page .main-page-content .column1 .lightBlueC {
  color: #517ec0;
}

#projects .project .main-page .main-page-content .column1 h4 {
  padding-top: 25px;
  font-family: mon-sb;
  font-size: 55pt;
  color: #fff;
}

#projects .project .main-page .main-page-content .column2 {
  height: 100%;
  width: 100%;
  max-width: 400px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .project .main-page .main-page-content .column2 .logo {
  width: 100%;
}

#projects .project .main-page .main-page-content .column2 .arrow-down {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .project .main-page .main-page-content .column2 .arrow-down:hover {
  background-color: rgba(207, 23, 81, 0.1);
  border-radius: 5px;
}

#projects .project .main-page .main-page-content .column2 .arrow-down.whiteH:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

#projects .project .main-page .main-page-content .column2 .arrow-down.greenH:hover {
  background-color: rgba(15, 177, 154, 0.1);
  border-radius: 5px;
}

#projects .project .main-page .main-page-content .column2 .arrow-down.lightBlueH:hover {
  background-color: rgba(81, 126, 192, 0.1);
  border-radius: 5px;
}

#projects .project .main-page .main-page-content .column3 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 30%;
}

#projects .project .main-page .main-page-content .column3 .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

#projects .project .main-page .main-page-content .column3 .project-details a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 14pt;
  padding-right: 10px;
}

#projects .project .main-page .main-page-content .column3 .project-details:hover a {
  color: #555;
}

#projects .project .main-page .main-page-content .column3 .project-details img {
  width: 10.5px;
  height: 6.5px;
  margin: auto 0;
}

#projects .project .main-page .main-page-content .column3 .view-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

#projects .project .main-page .main-page-content .column3 .view-slides a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 14pt;
  padding-right: 10px;
}

#projects .project .main-page .main-page-content .column3 .view-slides:hover a {
  color: #555;
}

#projects .project .main-page .main-page-content .column3 .view-slides img {
  width: 10.5px;
  height: 6.5px;
  margin: auto 0;
}

#projects .project .main-page .main-page-content .column3 .horisontal-line {
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

#projects .project .main-page .main-page-content .column3 .horisontal-line.white {
  background-color: #fff;
}

#projects .project .main-page .main-page-content .column3 .horisontal-line.green {
  background-color: #0fb19a;
}

#projects .project .main-page .main-page-content .column3 .horisontal-line.light-blue {
  background-color: #517ec0;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 90vw !important;
  max-width: 1080px;
  height: auto;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 100px;
  height: 5px;
  border-radius: 0;
}

.swiper-container #redeye-pagination .swiper-pagination-bullet-active {
  background-color: #cf1751;
}

.swiper-container #inferno-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-container #spine-pagination .swiper-pagination-bullet-active {
  background-color: #0fb19a;
}

.swiper-container #fusion-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-container #IL1-pagination .swiper-pagination-bullet-active {
  background-color: #cf1751;
}

.swiper-container #BLUECITY-pagination .swiper-pagination-bullet-active {
  background-color: #517ec0;
}

#fusionS .swiper-wrapper .swiper-slide img {
  width: 100vw !important;
  height: auto;
}

#monkeyS .swiper-wrapper .swiper-slide img {
  width: 100vw !important;
  height: auto;
}

#IL1S .swiper-wrapper .swiper-slide img {
  width: 100vw !important;
  height: auto;
}

@media (max-width: 1080px) {
  #projects .project .main-page .main-page-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #projects .project .main-page .main-page-content .column2 img {
    margin-bottom: 50px;
  }
  #projects .project .main-page .main-page-content .column2 a img {
    margin-bottom: 0;
  }
  #projects .project .main-page .main-page-content .column3 {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=projects.css.map */