@font-face {
  font-family: al;
  src: url("../font/alien.ttf");
}

@font-face {
  font-family: mon-r;
  src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: mon-l;
  src: url("../font/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: mon-sb;
  src: url("../font/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: mon-b;
  src: url("../font/Montserrat/Montserrat-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #c5c5c5;
  font-family: mon-r;
  font-weight: 100;
}

a {
  text-decoration: none;
}

html {
  color: #ddd;
  scroll-behavior: smooth;
}

html body {
  background-color: #202020;
}

html body #home {
  width: 100%;
  min-height: 100vh;
  background-image: url(/img/homeBG.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

html body #home .home-content {
  text-align: center;
  width: 60%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
}

html body #home .home-content .heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html body #home .home-content .heading h1 {
  font-size: 13pt;
}

html body #home .home-content .heading-svg {
  margin-top: -8%;
  width: 100%;
  height: auto;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #home .home-content .heading-svg img {
  margin: 0 auto;
  max-width: 918px;
  height: auto;
}

html body #home .home-content .home-nav ul {
  margin-top: -6%;
  width: 30%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #home .home-content .home-nav ul li {
  padding-left: 2%;
  padding-right: 2%;
}

html body #home .home-content .home-nav ul li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 13pt;
}

html body #home .home-content .home-nav ul li a:hover {
  color: #555;
}

html body #home .home-content .home-nav ul .li {
  border-right: 1px solid #cf1751;
}

html body #home .home-content a {
  margin: 0 auto;
}

html body #home .home-content a .arrow-down {
  -ms-flex-item-align: center;
      align-self: center;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

html body #home .home-content a .arrow-down:hover {
  background-color: rgba(207, 23, 81, 0.1);
  border-radius: 5px;
}

html body #home .home-content .get-started {
  width: 15%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #home .home-content .get-started a p {
  font-size: 14pt;
}

html body #home .home-content .get-started:hover a p {
  color: #555;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html body #about-me {
  background-color: #161616;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #about-me .horisontal-line {
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

html body #about-me h2 {
  margin-top: 1%;
  color: #cf1751;
  font-size: 14pt;
  font-weight: 600;
}

html body #about-me p {
  font-family: mon-l;
  font-size: 16pt;
  margin-top: 1%;
}

html body #about-me h3 {
  margin-top: 5%;
  font-size: 120pt;
  color: #cf1751;
  font-family: al;
  font-weight: 100;
  letter-spacing: -10px;
}

html body #about-me .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 89%;
  margin-top: 3%;
  z-index: 10;
}

html body #about-me .bars .bar {
  padding: 2%;
}

html body #about-me .bars .bar p {
  font-family: mon-b;
  font-size: 17pt;
  color: #fff;
}

html body #about-me .bars .bar div {
  margin-top: 10px;
  background-color: #cf1751;
  border-radius: 10px;
  width: 218px;
  height: 12px;
}

html body #projects .project {
  min-height: 200vh;
  margin: 0 auto;
}

html body #projects .project .main-page {
  background-color: #161616;
  height: 100vh;
}

html body #projects .project .main-page .main-page-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #projects .project .main-page .main-page-content .column1 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 30%;
}

html body #projects .project .main-page .main-page-content .column1 .horisontal-line {
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

html body #projects .project .main-page .main-page-content .column1 .horisontal-line.white {
  background-color: #fff;
}

html body #projects .project .main-page .main-page-content .column1 p {
  padding-top: 25px;
  font-size: 14pt;
  color: #cf1751;
}

html body #projects .project .main-page .main-page-content .column1 .whiteC {
  color: #fff;
}

html body #projects .project .main-page .main-page-content .column1 h4 {
  padding-top: 25px;
  font-family: mon-sb;
  font-size: 55pt;
  color: #fff;
}

html body #projects .project .main-page .main-page-content .column2 {
  height: 100%;
  width: 400px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #projects .project .main-page .main-page-content .column2 .logo {
  width: 100%;
}

html body #projects .project .main-page .main-page-content .column2 .arrow-down {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #projects .project .main-page .main-page-content .column2 .arrow-down:hover {
  background-color: rgba(207, 23, 81, 0.1);
  border-radius: 5px;
}

html body #projects .project .main-page .main-page-content .column2 .arrow-down.whiteH:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

html body #projects .project .main-page .main-page-content .column3 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 30%;
}

html body #projects .project .main-page .main-page-content .column3 .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

html body #projects .project .main-page .main-page-content .column3 .project-details a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 14pt;
  padding-right: 10px;
}

html body #projects .project .main-page .main-page-content .column3 .project-details:hover a {
  color: #555;
}

html body #projects .project .main-page .main-page-content .column3 .project-details img {
  width: 10.5px;
  height: 6.5px;
  margin: auto 0;
}

html body #projects .project .main-page .main-page-content .column3 .view-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

html body #projects .project .main-page .main-page-content .column3 .view-slides a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 14pt;
  padding-right: 10px;
}

html body #projects .project .main-page .main-page-content .column3 .view-slides:hover a {
  color: #555;
}

html body #projects .project .main-page .main-page-content .column3 .view-slides img {
  width: 10.5px;
  height: 6.5px;
  margin: auto 0;
}

html body #projects .project .main-page .main-page-content .column3 .horisontal-line {
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

html body #projects .project .main-page .main-page-content .column3 .horisontal-line.white {
  background-color: #fff;
}

html body #projects .project .slides {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  justify-items: center;
}

html body #projects .project .slides .horisontal-line {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

html body #projects .project .slides .white {
  background-color: #fff;
}

html body #projects .project .slides img {
  width: 50%;
}

html body #projects .project .slides .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 5px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #projects .project .slides .controls .control {
  width: 20%;
  height: 100%;
  background-color: #5c5c5c;
}

html body #projects .project .slides .controls .selected {
  background-color: #cf1751;
}

html body #projects .project .slides .controls .selectedW {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */