@font-face {
  font-family: al;
  src: url("../font/alien.ttf");
}

@font-face {
  font-family: mon-r;
  src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: mon-l;
  src: url("../font/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: mon-sb;
  src: url("../font/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: mon-b;
  src: url("../font/Montserrat/Montserrat-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #c5c5c5;
  font-family: mon-r;
  font-weight: 100;
}

a {
  text-decoration: none;
}

html {
  color: #ddd;
  scroll-behavior: smooth;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

html ::-webkit-scrollbar {
  width: 12px;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #ef518d;
  box-shadow: inset 0 0 5px #ef518d;
  border-radius: 10px;
}

html ::-webkit-scrollbar-thumb {
  background: rgba(182, 86, 86, 0);
  border: 1px solid #cf1751;
  -webkit-animation: all 5s ease;
  animation: all 5s ease;
  border-radius: 5px;
}

html ::-webkit-scrollbar-thumb:hover {
  background: rgba(207, 23, 81, 0.5);
}

html body {
  background-color: #202020;
  overflow-x: hidden;
}

html body ul {
  list-style: none;
}

html body .loader {
  width: 100vw;
  height: 100vh;
  background-color: #202020;
  overflow: hidden;
  z-index: 5000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .loader svg {
  width: 168px;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html body .rotating {
  -webkit-animation: rotating 5s linear infinite;
          animation: rotating 5s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

html body .rotating2 {
  animation: rotating 2s linear infinite reverse;
  -webkit-transform-origin: center;
          transform-origin: center;
}

html body .loader-hidden {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  pointer-events: none;
}

html body #home {
  width: 100%;
  min-height: 100vh;
  background-image: url(/img/homeBG.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

html body #home .home-content {
  text-align: center;
  width: 60%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
}

html body #home .home-content .heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html body #home .home-content .heading h1 {
  font-size: 13pt;
}

html body #home .home-content .heading-svg {
  margin-top: -8%;
  width: 100%;
  height: auto;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #home .home-content .heading-svg svg {
  margin: 0 auto;
  max-width: 918px;
  width: 100%;
  height: auto;
}

html body #home .home-content .home-nav ul {
  margin-top: -6%;
  width: 30%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #home .home-content .home-nav ul li {
  padding-left: 2%;
  padding-right: 2%;
}

html body #home .home-content .home-nav ul li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 13pt;
}

html body #home .home-content .home-nav ul li a:hover {
  color: #555;
}

html body #home .home-content .home-nav ul .li {
  border-right: 1px solid #cf1751;
}

html body #home .home-content a {
  margin: 0 auto;
}

html body #home .home-content a .arrow-down {
  -ms-flex-item-align: center;
      align-self: center;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

html body #home .home-content a .arrow-down:hover {
  background-color: rgba(207, 23, 81, 0.1);
  border-radius: 5px;
}

html body #home .home-content .get-started {
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #home .home-content .get-started a p {
  padding-right: 5px;
  font-size: 14pt;
}

html body #home .home-content .get-started:hover a p {
  color: #555;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html body #about-me {
  background-color: #161616;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #about-me .horisontal-line {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

html body #about-me .horisontal-line.down {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

html body #about-me h2 {
  margin-top: 1%;
  color: #cf1751;
  font-size: 14pt;
  font-weight: 600;
}

html body #about-me p {
  font-family: mon-l;
  font-size: 16pt;
  margin-top: 1%;
}

html body #about-me #about-text {
  width: 80%;
  max-width: 592px;
  text-align: center;
}

html body #about-me h3 {
  margin-top: 5%;
  font-size: 120pt;
  color: #cf1751;
  font-family: al;
  font-weight: 100;
  letter-spacing: -10px;
}

html body #about-me .bars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(232px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  width: 89%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

html body #about-me .bars .bar {
  padding: 2%;
}

html body #about-me .bars .bar p {
  font-family: mon-b;
  font-size: 17pt;
  color: #fff;
}

html body #about-me .bars .bar div {
  position: relative;
  margin-top: 10px;
  background-color: #ef518d;
  border-radius: 10px;
  width: 218px;
  height: 12px;
}

html body #about-me .bars .bar #barILL::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  background-color: #cf1751;
  border-radius: 10px;
  -webkit-animation: barILL 0.65s ease-in;
          animation: barILL 0.65s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

html body #about-me .bars .bar #barPS::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  background-color: #cf1751;
  border-radius: 10px 0 0 10px;
  -webkit-animation: barPS 0.65s ease-in;
          animation: barPS 0.65s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

html body #about-me .bars .bar #barXD::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  background-color: #cf1751;
  border-radius: 10px 0 0 10px;
  -webkit-animation: barXD 0.65s ease-in;
          animation: barXD 0.65s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

html body #about-me .bars .bar #barAE::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  background-color: #cf1751;
  border-radius: 10px 0 0 10px;
  -webkit-animation: barAE 0.65s ease-in;
          animation: barAE 0.65s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

html body #about-me .bars .bar #barSB::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  background-color: #cf1751;
  border-radius: 10px;
  -webkit-animation: barSB 0.65s ease-in;
          animation: barSB 0.65s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

html body #about-me .bars .bar #barIN::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 10;
  background-color: #cf1751;
  border-radius: 10px 0 0 10px;
  -webkit-animation: barIN 0.65s ease-in;
          animation: barIN 0.65s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes barILL {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes barILL {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes barPS {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes barPS {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes barXD {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@keyframes barXD {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@-webkit-keyframes barAE {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

@keyframes barAE {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

@-webkit-keyframes barSB {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes barSB {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes barIN {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@keyframes barIN {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@media (max-width: 570px) {
  html body #about-me h3 {
    font-size: 80pt;
    text-align: center;
  }
}

@media (max-width: 700px) {
  html body #about-me p {
    text-align: center;
  }
}

html body #projects .project {
  min-height: 200vh;
  margin: 0 auto;
}

html body #projects .project .main-page {
  padding-top: 10%;
  background-color: #161616;
  min-height: 100vh;
  height: 100%;
}

html body #projects .project .main-page .main-page-content {
  width: 85%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #projects .project .main-page .main-page-content .column1 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

html body #projects .project .main-page .main-page-content .column1 .horisontal-line {
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

html body #projects .project .main-page .main-page-content .column1 .horisontal-line.white {
  background-color: #fff;
}

html body #projects .project .main-page .main-page-content .column1 .horisontal-line.green {
  background-color: #0fb19a;
}

html body #projects .project .main-page .main-page-content .column1 .horisontal-line.light-blue {
  background-color: #517ec0;
}

html body #projects .project .main-page .main-page-content .column1 p {
  padding-top: 25px;
  font-size: 14pt;
  color: #cf1751;
}

html body #projects .project .main-page .main-page-content .column1 .whiteC {
  color: #fff;
}

html body #projects .project .main-page .main-page-content .column1 .greenC {
  color: #0fb19a;
}

html body #projects .project .main-page .main-page-content .column1 .lightBlueC {
  color: #517ec0;
}

html body #projects .project .main-page .main-page-content .column1 h4 {
  padding-top: 25px;
  font-family: mon-sb;
  font-size: 55pt;
  color: #fff;
}

html body #projects .project .main-page .main-page-content .column2 {
  height: 100%;
  width: 100%;
  max-width: 400px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #projects .project .main-page .main-page-content .column2 .logo {
  width: 100%;
}

html body #projects .project .main-page .main-page-content .column2 .arrow-down {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #projects .project .main-page .main-page-content .column2 .arrow-down:hover {
  background-color: rgba(207, 23, 81, 0.1);
  border-radius: 5px;
}

html body #projects .project .main-page .main-page-content .column2 .arrow-down.whiteH:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

html body #projects .project .main-page .main-page-content .column2 .arrow-down.greenH:hover {
  background-color: rgba(15, 177, 154, 0.1);
  border-radius: 5px;
}

html body #projects .project .main-page .main-page-content .column2 .arrow-down.lightBlueH:hover {
  background-color: rgba(81, 126, 192, 0.1);
  border-radius: 5px;
}

html body #projects .project .main-page .main-page-content .column3 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 30%;
}

html body #projects .project .main-page .main-page-content .column3 .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

html body #projects .project .main-page .main-page-content .column3 .project-details a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 14pt;
  padding-right: 10px;
}

html body #projects .project .main-page .main-page-content .column3 .project-details:hover a {
  color: #555;
}

html body #projects .project .main-page .main-page-content .column3 .project-details img {
  width: 10.5px;
  height: 6.5px;
  margin: auto 0;
}

html body #projects .project .main-page .main-page-content .column3 .view-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

html body #projects .project .main-page .main-page-content .column3 .view-slides a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 14pt;
  padding-right: 10px;
}

html body #projects .project .main-page .main-page-content .column3 .view-slides:hover a {
  color: #555;
}

html body #projects .project .main-page .main-page-content .column3 .view-slides img {
  width: 10.5px;
  height: 6.5px;
  margin: auto 0;
}

html body #projects .project .main-page .main-page-content .column3 .horisontal-line {
  width: 2px;
  height: 126px;
  background-color: #cf1751;
}

html body #projects .project .main-page .main-page-content .column3 .horisontal-line.white {
  background-color: #fff;
}

html body #projects .project .main-page .main-page-content .column3 .horisontal-line.green {
  background-color: #0fb19a;
}

html body #projects .project .main-page .main-page-content .column3 .horisontal-line.light-blue {
  background-color: #517ec0;
}

html body .swiper-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html body .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100vw !important;
  height: auto;
}

html body .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 100px;
  height: 5px;
  border-radius: 0;
}

html body .swiper-container #redeye-pagination .swiper-pagination-bullet-active {
  background-color: #cf1751;
}

html body .swiper-container #inferno-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

html body .swiper-container #spine-pagination .swiper-pagination-bullet-active {
  background-color: #0fb19a;
}

html body .swiper-container #fusion-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

html body .swiper-container #IL1-pagination .swiper-pagination-bullet-active {
  background-color: #cf1751;
}

html body .swiper-container #BLUECITY-pagination .swiper-pagination-bullet-active {
  background-color: #517ec0;
}

html body #fusionS .swiper-wrapper .swiper-slide img {
  width: 100vw !important;
  height: auto;
}

html body #monkeyS .swiper-wrapper .swiper-slide img {
  width: 100vw !important;
  height: auto;
}

html body #IL1S .swiper-wrapper .swiper-slide img {
  width: 100vw !important;
  height: auto;
}

@media (max-width: 1080px) {
  html body #projects .project .main-page .main-page-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  html body #projects .project .main-page .main-page-content .column2 img {
    margin-bottom: 50px;
  }
  html body #projects .project .main-page .main-page-content .column2 a img {
    margin-bottom: 0;
  }
  html body #projects .project .main-page .main-page-content .column3 {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

html body .kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  background-color: #343434;
}

html body .kontakt .naslov {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .kontakt .naslov .crta {
  background-color: #e01a54;
  width: 1px;
  height: 100px;
  margin-bottom: 26px;
}

html body .kontakt .naslov h1 {
  color: #e01a54;
  font-size: 18px;
  margin-bottom: 58px;
}

html body .kontakt .kontakt-forma {
  margin-bottom: 100px;
  background-color: #181818;
  width: 60%;
  min-height: 50%;
  height: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .kontakt .kontakt-forma form {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 80%;
}

html body .kontakt .kontakt-forma form .f1 {
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

html body .kontakt .kontakt-forma form .f1 .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .kontakt .kontakt-forma form .f1 .input label {
  font-size: 26px;
}

html body .kontakt .kontakt-forma form .f1 .input input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  font-size: 18px;
  padding-top: 8px;
}

html body .kontakt .kontakt-forma form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .kontakt .kontakt-forma form .input label {
  font-size: 26px;
}

html body .kontakt .kontakt-forma form .input textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  font-size: 18px;
  padding-top: 8px;
}

html body .kontakt .kontakt-forma form button {
  background-color: #e01a54;
  color: #181818;
  font-weight: 700;
  border: none;
  outline: none;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2% 5%;
  margin-top: 85px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

html body .kontakt .kontakt-forma form button:hover {
  background-color: rgba(224, 26, 84, 0.7);
}

@media (max-width: 1180px) {
  html body .kontakt .kontakt-forma {
    width: 80%;
  }
}

@media (max-width: 1180px) {
  html body .kontakt .kontakt-forma {
    width: 90%;
  }
}

@media (max-width: 796px) {
  html body .kontakt .kontakt-forma form .f1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

html body .arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border: solid 1px #cf1751;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: none;
}

html body .arrow-up svg {
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html body .arrow-up:hover {
  background-color: rgba(207, 23, 81, 0.2);
}
/*# sourceMappingURL=style.css.map */