@import "fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #c5c5c5;
  font-family: mon-r;
  font-weight: 100;
}

a {
  text-decoration: none;
}

html {
  color: #ddd;
  scroll-behavior: smooth;
  // Scrollbar //

  @import "scrollbar.scss";
  // BODY//

  body {
    background-color: #202020;

    overflow-x: hidden;

    ul {
      list-style: none;
    }

    // Loader //

    @import "loader.scss";

    // Home //

    @import "home.scss";

    // About //

    @import "about-me.scss";

    // Projects

    @import "projects.scss";

    // Kontakt //

    @import "kontakt.scss";

    // Arrow UP //

    @import "arrow-up.scss";
  }
}